PORT=5050
MONGODB_URI="MONGODB_URI=mongodb+srv://sandeep:#Sandeep#23456@cluster0.jmbuauo.mongodb.net/?appName=Cluster0"
JWT_SECRET=vericode_ai_secret_key_super_secure_123!
JWT_EXPIRE=7d
OPENROUTER_API_KEY=your_openrouter_api_key_here
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
